/* 웹폰트
font-family: 'Tmoney';
font-family: 'Sniglet';
*/
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #676d72;
}

ul,
ol {
    list-style: none;
}

img,
video,
iframe {
    vertical-align: middle;
}

body {
    min-width: 1450px;
    font-family: 'Tmoney';
    font-size: 20px;
    line-height: 30px;
    color: #333;
    background: url(../images/background_body.jpg);
}

/*header*/
#header {
    background-color: #ffffcc;
    font-family: 'Sniglet';
}

.header_inner {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#gnb {
    display: flex;

}

#logo {
    position: absolute;
    left: 0;
    top: 15px;
}

#gnb li {
    font-size: 24px;
    font-weight: bold;
    padding: 30px 20px;
}

.login {
    display: flex;
    position: absolute;
    right: 0;
    top: 30px;
}

.login li {
    padding: 0px 20px;
    padding-right: 0;
}

/*about*/
#about {
    width: 1320px;
    margin: 0 auto;
    padding-bottom: 250px;
    text-align: center;
}

#about h1 {
    font-family: 'Sniglet';
    font-weight: bold;
    font-size: 45px;
    color: #99cc66;
    text-align: center;
    padding: 80px;
}

/*character*/
#character {
    width: 1320px;
    margin: 0 auto;
    padding-bottom: 300px;
}

#character ul {
    display: flex;
    justify-content: space-around;

}

/*brand*/
#brand {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 200px;
}

/*logostory*/
#logostory h1 {
    font-family: 'Sniglet';
    font-weight: bold;
    font-size: 45px;
    color: #99cc66;
    text-align: center;
    padding: 80px;
}

#logostory {
    width: 1320px;
    margin: 0 auto;
    padding-bottom: 200px;
    text-align: center;
}


/*map*/

#map h1 {
    font-family: 'Sniglet';
    font-weight: bold;
    font-size: 45px;
    color: #99cc66;
    text-align: center;
    padding: 80px;
}

#map {
    padding-bottom: 200px;
}

.map_inner {
    display: flex;
}

iframe {
    border-radius: 0 100px 100px 0;
}

/*footer*/
#footer {
    background-color: #ffffcc;
}

.footer_inner {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.footer_inner ul {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 26px;
}

.footer_inner ul li {
    padding-right: 20px;
}

.footer_inner p {
    font-size: 16px;
    line-height: 26px;
    text-align: right;
}